<style>
  footer {
    position: fixed;
    height: 45px;
    bottom: 0;
    width: 100%;
  }
</style>
<footer class="text-center text-white fixed-bottom" style="background-color: #21081a;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 <%- items.copyright -%>:
    <a class="text-white" href= <%- items.url-%> > <%- items.title -%></a>
    <br/>
    <p> This was made by github users t-heckelman and malicolm </p>
  </div>
  <!-- Copyright <p> <%- items.explanation-%> </p>-->
</footer>
