<!doctype html>
<style>
    .navbar-brand{
      pointer-events: none;
    }
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Space Stuff</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Main</a></li>
      <li><a href="/reviews">AdditionalPage</a></li>
    </ul>
  </div>
</nav>
