<style>
  .title{
    text-align: center;
    font-size: xx-large;
    color: white;
  }
  .bigDiv{
    background-image: url(<%- items.hdurl -%>);
    height: 100%;
  }
  .jumbotron{
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 50px;
  }
  .jumboHolder{
    float: center;
  }
</style>
<div class = "bigDiv">
  <%- include('../partials/header'); -%>
  <br/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div class = "jumboHolder">
  <div class="jumbotron text-center" style = "background-color: #808080">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This shit hopefully will be cool when it is done</p>
  <br/>
  <p>Ayo click the button</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Don't listen to him</a>
  </p>
</div>
</div>
  <br />
  <br />
  <div class = "">
    <form class="" action="/main" method="post">
      <div class="row" style="width:800px; margin:0 auto;">
        <div class="col-3">
        </div>
      </div>
    </form>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
<%- include('../partials/footer'); -%>
