<style>
  .title{
    text-align: center;
    font-size: xx-large;
    color: white;
  }
  .bigDiv{
    background-image: url(<%- items.hdurl -%>);
    height: 100%;
  }
</style>
<div class = "bigDiv">
  <%- include('../partials/header'); -%>
  <br/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <div class="jumbotron jumbotron-fluid">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This shit hopefully will be cool when it is done</p>
  <hr class="my-4">
  <p>Click the button</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Don't click me</a>
  </p>
</div>
  <br />
  <br />
    <style>
        .input-group{
          text-align: center;
        }
        .search{
          text-align: center;
        }
        .btn btn-light{
          text-align: center;
        }
        .popup-position{
            display:none;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.7);
            width: 100%;
            height: 100%;

        }
        #popup-wrapper{
        text-align: left;
        }

        #popup-container{
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            width: 300px;
            margin: 70px auto;
        }
    </style>
  <div class = "">
    <form class="" action="/main" method="post">
      <div class="row" style="width:800px; margin:0 auto;">
        <div class="col-3">
        </div>
      </div>
    </form>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
<%- include('../partials/footer'); -%>
