<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
/>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="resources/js/script.js"></script>
<div class="head">
  <%- include('../partials/header'); -%>
  <div class = "title "
      <p class="h1">Recent Reviews</p>
  </div>
  <form class="">
    <div class="row" style="width:800px; margin:0 auto;">
      <div class="col-4 searchbox">
        <input class="form-control" type="text" name="username" placeholder="Enter a username">
      </div>
      <div class="col text-center">
        <button formmethod="POST" formaction="/reviews" type = "submit" class = "btn btn-light">Search</button>
      </div>
    </div>
  </form>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<div class="bigDiv">
  <br/>
  <br/>

  <div class="container">
    <% for(var i=0; i < songs.length; i++) { %>
        <div class="jumbotron text-center">
          <div class="user-review">
              <%= songs[i].username %>
              <%= songs[i].song %>
              <%= songs[i].review %>
          </div>
        </div>
    <% } %>
    <br />
  </div>

</div>

</div>

<style>

  .main{
      padding: auto;
  }

  .searchbox{
    padding: 2%
  }

  .background{
    
  }

  .head{
    background-color: #222222;
    height:35%;
  }
  .center{
    text-align: center
  }

  .title{
    text-align: center;
    font-size: xx-large;
    color: white;
    vertical-align: top;
    top: 0;

  }

  .search{
    text-align: center;
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  }

  .btn btn-light{
    text-align: center;
  }

  body {
    font-family: "trebuchet", Trebuchet MS;
  }
  .jumbotron {
    width: 50%;
    font-family: "trebuchet", Trebuchet MS;
    margin: auto;
    background-color: #808080;
    margin-top: 2%;
  }

  body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}


.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #000000
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #808080;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #808080;
}


</style>
