<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
/>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="resources/js/script.js"></script>
<div style = "background-color: #222222; height:175px;">
  <%- include('../partials/header'); -%>
  <br />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<body>
  <main>
    <style>
      .title{
        text-align: center;
        font-size: xx-large;
        color: white;
      }
    </style>
    <div class = "title"
        <p class="h1">Recent Reviews</p>
    </div>
    <br />
    <br />
    <body>
      <main>
        <style>
            .input-group{
              text-align: center;
            }
            .search{
              text-align: center;
            }
            .btn btn-light{
              text-align: center;
            }
            body {
              font-family: "trebuchet", Trebuchet MS;
            }
            .jumbotron {
              border-radius: 50px;
              width: 70%;
              margin-top: 20%;
              height: 300px;
              float: center;
            }
            .userSearch{

            }

        </style>
      <div class = "card" align = "center" style="background-color: #808080">
        <form class="userSearch" action="/reviews" method="post">
          <div class="input-group">
            <div class="form-outline">
              <input id="search-focus" type="search" id="form1" class="form-control" />
            </div>
            <button
              id="searchButton"
              type="submit"
              class="btn btn-secondary"
            >
              Search
            </button>
          </div>
        </form>
      </div>
    <div class="container">
        <% for(var i=0; i < songs.length; i++) { %>
            <div class="jumbotron text-center" style="background-color: #808080">
              <div class="user-review">
                  <%= songs[i].username %>
                  <%= songs[i].song %>
                  <%= songs[i].review %>
              </div>
            </div>
  			<% } %>
  		<br>
  	</div>
  </main>
  </body>
  </div>
