<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
/>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="resources/js/script.js"></script>
<div class="head">
  <%- include('../partials/header'); -%>
  <br />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
<div class="bigDiv">
  <div class = "title " 
      <p class="h1">Recent Reviews</p>
  </div>

  <br />
  <br />
   
  <div class="main" action = "/" method = "get">
    <div class="jumbotron text-center" style="background-color: #808080">
      <div class="login-form justify" action = "/reviews" method = "get">
        <form>
          <div class="form-group">
            <label class="larger">Search</label>
            <input type="name" class="form-control" placeholder="Search" />
          </div>
          <button
            id="my_submit_button"
            class="btn btn-secondary"
            enabled
          >
            Does not work
          </button>
        </form>
      </div>
    </div>
  </div>    
  
  <div class="container">
      <% for(var i=0; i < songs.length; i++) { %>
          <div class="jumbotron text-center">
            <div class="user-review">
                <%= songs[i].username %>
                <%= songs[i].song %>
                <%= songs[i].review %>
            </div>
          </div>
      <% } %>
    <br>
  </div>
</div>







<style>

  .main{
      padding: auto;
  }

  .head{
    background-color: #222222; 
    height:25%;
  }
  .center{
    text-align: center
  }

  .title{
    text-align: center;
    font-size: xx-large;
    color: white;
    vertical-align: top;
    top: 0;

  }

  .search{
    text-align: center;
  }

  .btn btn-light{
    text-align: center;
  }

  body {
    font-family: "trebuchet", Trebuchet MS;
  }
  .jumbotron {
    width: 50%;
    font-family: "trebuchet", Trebuchet MS;
    margin: auto;
    background-color: #808080;
    margin-top: 2%;
  }

  body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}


  
 
</style>
