<style>
  .title {
    text-align: center;
    font-size: x-large;
    color: white;
  }
  body{
    background-image: url(<%- dailyImg.hdurl -%>);
  }
  .jumbotron {
    width: 50%;
    text-align: center;
    font-family: "trebuchet", Trebuchet MS;
    margin: auto;
    border-radius: 50px;
  }
  ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- width: 50%;
height: 37%; */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
.search-button{
  background-color: #222222;
  border: none;
  cursor:pointer;
  font-family: "trebuchet", Trebuchet MS;
  border-radius: 50px;
  width: 15%;
  height:4%;
  color: #808080;
  overflow: hidden;
  margin-top: 2%;
}

</style>
  <%- include('../partials/header'); -%>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
  />
  <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>
  <div class="jumboHolder">
    <div class="jumbotron text-center" style="background-color: #808080">
      <h1 class="display-4">Write a review</h1>
      <form class="">
        <div class="row" style="width:50%; margin:0 auto;">
          <div class="col-4 searchbox">
            <input class="form-control" type="text" id="song" name="song" placeholder="Enter a song name" style="text-align: center;" onkeyup="reviewButton()">
          </div>
          <div class="col-4 searchbox">
            <input class="form-control" type="text" id="review" name="review" placeholder="Write a review!" style="text-align: center;" onkeyup="reviewButton()">
          </div>
        </div>
        <% if(user == "Login") { %>
          <button class = "search-button" formaction="/writeReview" formmethod="post" type="submit" disabled>
            Write
          </button>
        <% }else{ %>
          <button class = "search-button" id= "button" formaction="/writeReview" formmethod="post" type="submit" disabled>
            Write
          </button>
        <% } %>
      </form>
    </div>
  </div>
  <%- include('../partials/footer'); -%>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="resources/js/script.js"></script>
